.carrito{
    width: 25px;
  
}

.logo{
    width:150px;
    margin-left: 630px;
    
}

.titulo{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head{
    background-color:rgb(123, 143, 158);
    margin-top: -2%;
    margin-left: -2%;
    margin-right: -2%;

}

.navegar{
    color:white;
    text-align: left;
    text-decoration: none;
    font-size: 130%;
    margin: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.navegar:hover{
    color: cornflowerblue;
    transition: color 0.3s ease;
}